@page "/frequency/{id}"
@inject DataService data

<RayInput bind-newRayText="@newRayText"></RayInput>

@foreach (var ray in data.Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}


@functions{
    [Parameter]
    string Id { get; set; }

    string newRayText { get; set; }

    protected override void OnParametersSet()
    {
        // Always reset this placeholder to create a new Ray for the user if there is none for that particular user.
        newRayText = string.Empty;

        data.UpdatedRays += StateHasChanged;
        data.UpdatedRays += UpdateNewRayText;
        data.SelectedFrequency = Int32.Parse(Id);
    }

    void UpdateNewRayText()
    {
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
        {
            newRayText = $"Please add some Rays for , {data.CurrentUser.Name}";
        }
    }

}