@page "/settings"
@inject DataService data
@implements IDisposable

<span>Username</span>
<div class="input-group">
    <input bind=@name class="form-control" />
    <div class="input-group-append">
        <button onclick=@(() => data.GetOrCreateUser(name)) type="button" class="btn btn-outline-secondary">Update</button>
    </div>
</div>
<span>You watched the Beam @beamPasses times </span>
<div id="animationHost"></div>

@functions{
    private string name = "";
    int beamPasses = 0;
    bool animationInitialized = false;

    void IncrementBeamPass()
    {
        beamPasses++;
        StateHasChanged();
    }

    protected override void OnInit()
    {
        name = data.CurrentUser.Name;
    }

    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        if (!animationInitialized)
        {
            JavaScript.BeamPassTriggered += IncrementBeamPass;
            JavaScript.LoadAnimation("animationHost", 1000, 200);
            animationInitialized = true;
        }
    }

    public void Dispose()
    {
        JavaScript.BeamPassTriggered -= IncrementBeamPass;
    }

}
